//output:  $1.html
include ./includes/header.jade    
    title About us. - R7 Laundry
    meta(name='-', content='Laundromat, Pontiac, R7 Laundry, Wash, Dry, Fold, Dropoff, service, professional laundry services, clothes, clean')
    meta(name='title', content='Best Laundromat in Pontiac | R7 Laundry')
    meta(name='description', content='R7 Laundry Is growing to be one of the best laundromats in Pontiac. providing top of the line drop-off services and coin-operated machines.')
  body  
    include ./includes/hero.jade
    include ./includes/menu.jade
    .menhold
      &nbsp;
    script(src='script/greeting.js')
    .carousel.m_hide
    .w
      .container
        // White container
        br
        br
        h1 What We're About.
        br
        p
          | R7 Laundry Is committed to becoming the best Laundromat in Pontiac. We keep our building meticulously clean, our attendants are always kind and knowledgeable. R7Laundry is thriving to become one of the most "tech savvy" laundromats around.
        br
        br
        // End White container
      hr.m_hide.nmb
    .g.dFifty
      // Grey Container
      br
      br
      h1 What We Believe.
      ul
        li.li1
          p
            strong We believe:
            |  That our Laundromat should always be clean.
        li.li2
          p
            strong We believe:
            |  That our Laundromat should always be clean.
        li.li3
          p
            strong We believe:
            |  That our Laundromat should always be clean.
        li.li4.m_hide
          p
            strong We believe:
            |  That our Laundromat should always be clean.
        li.li5.m_hide
          p
            strong We believe:
            |  That our Laundromat should always be clean.
        li.li6.m_hide
          p
            strong We believe:
            |  That our Laundromat should always be clean.
      br
      br
      // End Grey Container
    .w.dFifty
      // White container
      br
      br
      h1.smargin What We Offer.
      a(href='./offer.html#tv')
        .fifty.d25
          h3 50" TV
          img(style='width: 75%; margin: 0 auto; display: block;', alt='50 inch tv icon', src='img/icon/icon_tv.svg')
      a(href='./offer.html#wifi')
        .fifty.d25
          h3 Free Wifi
          img(style='width: 75%; margin: 0 auto; display: block;', alt='Free wifi icon', src='img/icon/icon_wifi.svg')
          br
      a(href='./offer.html#coin')
        .fifty.d25
          h3 Coin - Op
          img(style='width: 75%; margin: 0 auto;  display: block;', alt=' Coin-op icon', src='img/icon/icon_coin.svg')
          br
      a(href='./offer.html#kids')
        .fifty.d25
          h3 Kids Corner
          img(style='width: 75%; margin: 0 auto;  display: block;', alt='kids corner icon', src='img/icon/icon_bear.svg')
          br
      br
      div
        br
        p  Click to learn more! 
      br
      br
      // End White container
    .blog.hide
