//output:  $1.html
include ./includes/header.jade
    title Offers - R7 Laundry
    meta(name='-"keywords"', content='Laundromat, Pontiac, R7 Laundry, Wash, Dry, Fold, Dropoff, service, professional laundry services, clothes, clean, offers, specials')
    meta(name='title', content='Offers | What we offer at R7 Laundry | R7 Laundry')
    meta(name='description', content='R7 Laundry has many amenities for your convenience. R7 Laundry offers a wide variety of refreshments including a Pepsi vending machine, snacks, and many more.')
  body
    include ./includes/menu.jade
    include ./includes/hero.jade
    a(name='tv')
    .offercube
      img(src='img/icon/icon_tv.svg', alt='50" Televisions')
      h3 50" Televisions
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='wifi')
    .offercube.g
      img(src='img/icon/icon_wifi.svg', alt='Free wifi')
      h3 Free Wifi
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='coin')
    .offercube
      img(src='img/icon/icon_coin.svg', alt='Coin operated')
      h3 Fully Coin-Op
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='kids')
    .offercube.g
      img(src='img/icon/icon_bear.svg', alt='kids toy')
      h3 Kids Corner
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='cctv')
    .offercube
      img(src='img/icon/icon_cctv.svg', alt='Closed Circuit TV')
      h3 CCTV
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      a(name='parking')
      hr
    .offercube.g
      img(src='img/icon/icon_parking.svg', alt='Large Parking Lot')
      h3 Large Prakinglot
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='soap')
    .offercube
      img(src='img/icon/icon_soap.svg', alt='Soap')
      h3 Soap
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='snack')
    .offercube.g
      img(src='img/icon/icon_snack.svg', alt='Soap')
      h3 Refreshments
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate est et augue tincidunt convallis. Praesent et augue ante. Vivamus pretium facilisis augue quis tempor. Aliquam fringilla in sem at aliquet. Aliquam tincidunt mattis dui, a venenatis
        | sapien tristique vitae. Praesent ornare enim quam, at molestie massa pretium tincidunt. Suspendisse ac sem vitae mauris venenatis laoreet eget ac mi. Nullam vel pharetra eros. Donec in dui quam. Quisque iaculis bibendum fringilla. Fusce suscipit
        | sed dolor id lobortis. In ut faucibus libero, a egestas justo.
      hr
      a(name='')
