//output: $1.html
//**hero.jade**
//include header.jade
link(rel='stylesheet', href='../styles/main.min.css', type='text/css')

script.
  $(document).ready(function() {
  $("font#herojump1").click(function() {
  $('#hero1').slideToggle(200);
  });
  $('font#herojump2').click(function() {
  $('#hero2').slideDown(200);
  });
  })

.hero
  // Contain hero image
  .herotype#hero1
    .blurbox
      img(src="img/icon/logo-white.svg" alt="R7 Logo")
      h1.m_hide
        | R7 LAUNDRY
      .underlinefull
    a(href="#menu")
      img.xsicon(src="img/icon/icon_arrow.svg" alt="Continue")
    div 
        font.herorad.heroactive#herojump1 &bull;
        font.herorad#herojump2 &bull;
        font.herorad#herojump3 &bull;
  a(name="menu")
  .herotype.hide#hero2
    .blurbox
      img(src="../img/icon/logo-white.svg" alt="R7 Logo")
      h1.m_hide
        | R7 LAUNDRY
    a(href="#menu")
      img.xsicon(src="../img/icon/icon_arrow.svg" alt="Continue")
    div 
        font.herorad.heroactive#herojump1 &bull;
        font.herorad#herojump2 &bull;
        font.herorad#herojump3 &bull;
  // end hero
