//output: $1.html
//**menu.jade**
script.
  $(window).scroll(function (e) {
        $el = $('nav');
        if ($(this).scrollTop() > window.innerHeight && $el.css('position') != 'fixed') {
            $('nav').css({ 'position': 'fixed', 'top': '0', 'left':'0', 'right':'0'});
          }
          if ($(this).scrollTop() < window.innerHeight && $el.css('position') == 'fixed') {
            $('nav').css({ 'position': 'absolute', 'top': '100vh', 'left':'', 'right':'' });
          }
        });
nav
  script.
    $(document).ready(function() {
    $('#hmen').click(function() {
    $('.hmenu').slideDown(200);
    });
    $('.hmenu p').click(function() {
    $('.hmenu').slideUp(200);
    });
    })
  #hmen.d_hide(style="width: 12.5vh; height: 100%; background-image: url('img/icon/icon_menu.png'); background-size: contain; float: left;")
  #mlogo
  .m_hide.menu
    ul
      li#menactive
        a(href='index.html')
          #dactive •
          | About us.
      li
        a(href='machines.html')
          | Our Machines.
      li
        a(href='dropoffs.html')  Drop off service.
      li
        a(href='offer.html') What We Offer.
      li
        a(href='location.html') How to Find us.
      li
        a(href='specials.html') Specials.
  .hmenu
    p X
    ul
      a(href='index.html')
        li#menactive.lvl1
          | About us.
      a(href='machines.html')
        li
          | Our Machines.
      a(href='dropoffs.html')
        li
          | Drop off service.
      a(href='offer.html')
        li
          | What We Offer.
      a(href='location.html')
        li
          | How to Find us.
        a(href='specials.html')
          li
            | Specials.
//**/menu.jade**
