@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #3d3d3d;
}

/* css styles */

a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #3d3d3d;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 2.0rem;
  text-align: center;
}
p {
  font-size: 1.05rem;
}
h3 {
  font-size: 1.55rem;
}
h3, p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
nav {
  height: 12.5vh;
}
body {
  margin: 0 auto;
}
li {
  padding: .0004em 0 0.01em 1.626em;
  margin-bottom: 0.2em;
  text-indent: 0.4em;
  font-weight: normal;
  list-style: none;
  background-repeat: no-repeat;
  background-size: 9%;
}
h2.smargin {
  margin-bottom: 0;
}
#LSP{
  display: none;
  border-top: solid 1px #3d3d3d;
  border-bottom: solid 1px #3d3d3d;
}
#LSPtogg{
    text-decoration: underline;
    display: block;
    text-align: center;
}
#todo {
  background-image: url('../img/gen/city.jpg');
  background-position: center;
  background-size: cover;
  height: 50vw;
}
#map {
  background-image: url('../img/gen/map.jpg');
  background-position: center;
  background-size: cover;
  height: 50vw;
}
#greeting {
  style="width: 100%;
 height: auto;
  padding: .2em;
  background-color: #85e085;
  cursor: hand;
  display: none;
}
#dsicon {
  margin: 0 auto;
  width: 100%;
  height: calc(15vw + 3px);
}
#menlogo {
  margin: 0 auto;
  width: 12.5vh;
  height: 100%;
  background-image: url('../img/icon/logo-gray.png');
  background-size: contain;
}
#hemn img {
  width: 12.5vh;
  height: 100%;
  background-size: contain;
  float: left;
}
#menactive {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}
/*.container{
  width: 900px;
  height: auto;
  background: RED;
}*/
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.menu {
  display: none;
  position: fixed;
  z-index: 3;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
}
.menu p {
  color: #737373;
  text-align: left;
}
.menu ul {
  padding: 0;
}
.menu li {
  margin-bottom: 0;
  text-indent: 0;
  color: rgba(115, 115, 115, .8);
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: .8rem;
  padding-top: .8rem;
  border-bottom: solid 1px rgba(115, 115, 115, .3);
}
.menu.lvl1 li {
  border-top: solid 1px rgba(115, 115, 115, 0.3);
}
.rbutton {
  width: 75%;
  height: auto;
  border: solid #a6a6a6 1px;
  border-radius: 10px;
  background-color: #9ae59a;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.rbutton p {
  margin: 0 auto;
}
.xsicon {
  width: 15%;
  height: 15vw;
  margin: .5%;
  position: relative;
  left: 25%;
}
.xxsicon{
  width: 10%;
  height: 10vw;
  margin: .3%;
  position: relative;
  left: 32%;
}
.offercube img {
  margin-top: 24px;
  width: 25%;
  height: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.offercube hr {
  margin-bottom: 0;
}
.offercube h3 {
  margin: 0;
  padding: 4px;
  padding-top: 10px;
}
.offercube p {
  margin-top: 10px;
}
img.mimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 75vw;
}
.fifty {
  width: 50%;
}
.dropee {
  display: none;
}
.sds {
  padding: .20rem;
  background-color: #ff8080;
}
.sd {
  padding: .20rem;
  background-color: #ff6666;
}
.tb {
  border: solid .5px #3d3d3d;
}
.fifty {
  float: left;
  width: 50%;
}
.li1 {
  background-image: url('../img/icon/icon_1.svg');
}
.li2 {
  background-image: url('../img/icon/icon_2.svg');
}
.li3 {
  background-image: url('../img/icon/icon_3.svg');
}
.li4 {
  background-image: url('../img/icon/icon_4.svg');
}
.li5 {
  background-image: url('../img/icon/icon_5.svg');
}
.li6 {
  background-image: url('../img/icon/icon_6.svg');
}
.m_hide {
  display: none;
  text-indent: -9999px;
}
.hero {
  width: 100%;
  height: 70vh;
  background-image: url('../img/hero/hero_forest-fallback.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  display: inline-block;
  font-size: 2em;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
}
.w {
  background-color: #fff;
  display: block;
  overflow: auto;
}
.g {
  background-color: #eeeeee;
  display: block;
  overflow: auto;
}
.icon {
  display: block;
  margin: auto;
  width: 15%;
  height: auto;
}
