@charset "utf-8";
/* css styles */

body{
 margin: 0;
}
.mx_155{
  max-width: 155.5px;
}
.img_c{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img3{
  width: 15%;
}
.w{
  background-color: white;
  display:block;
  overflow:auto;
}
.g{
  background-color: #eeeeee;
  display:block;
  overflow:auto;
}
#about_txt{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.twofive{
  width: 25%;
  float: left;
  background: purple;
}
.sevenfive{
  width: 75%;
  float: left;
}
h2{
  text-align: center;
}
/*///// Start Mobile devices  ///// */
@media only screen and (min-width: 500px) {
/* /////////////////////////////// */

#about_txt{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
p{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.m_icon{
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.m_hide{
  display: none;
}
.m_100{
  width: 100%;
}




/*///////////////////////////////*/
}
/*///////// End Mobile /////////*/
